.profile{
    background-color: rgb(214, 214, 214);
    display: flex;
    min-height: calc(100vh);
    overflow-x: hidden;
}
.profile-bottom{
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.profile-content{
    width: 900px;
    min-height: 400px;
    background-color: white;
    padding: 30px;
    position: relative;
}
.profile-optionEdit{
    /* position: relative; */
}
.profile-optionEdit>i{
    position: absolute;
    right: 30px;
    top: 38px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: gray;
    font-size: 24px;
    cursor: pointer;
}
.profile-optionEdit>i:hover + .profile-optionList{
    display: block;
}
.profile-optionList{
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 80px;
    width: 220px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: none;
}
.profile-optionList:hover{
    display: block;
}
.profile-optionItem{
    padding: 8px;
    color: rgb(73, 73, 73);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.profile-optionItem:hover{
    background-color: rgb(219, 219, 219);
}
.profile-content h1{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: rgb(92, 92, 92);
    border-bottom: 1.5px dotted gray;
}

.profile-infoBasic{
    margin-top: 20px;
    
}
.profile-infoBasic-content{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.profile-infoBasic-img{
    flex: 4;
    display: flex;
    justify-content: center;
}
.profile-infoBasic-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-infoBasic-listInfo{
    flex: 5;
}
.profile-infoBasic-listInfo p{
    margin: 5px;
}
.profile-infoOther{
    margin-top: 20px;
}
.profile-infoOther-content p{
    margin-top: 10px;
    text-align: justify;
    white-space: pre-line;
}

.modal-profile{
    width: 700px;
    min-height: 500px;
    max-height: 600px;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}
.modal-profile::-webkit-scrollbar{
    width: 0px;
}
.modal-profile h2{
    width: 100%;
    text-align: center;
    color: rgb(80, 79, 79);
}
.modal-profile-content{
    margin-top: 20px;
}
.modal-profile-infoBasic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.modal-profile-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.modal-profile-infoBasic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.modal-profile-infoBasic p{
    margin: 5px 0px;
}
.modal-profile-infoBasic p b{
    width: 100px;
    display: inline-block;
}
.modal-profile-infoBasic input{
    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}
.modal-profile-infoOther textarea{
    resize: none;
    width: 100%;
    height: 200px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.modal-profile-button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile-modalPassword{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.profile-modalPassword h3{
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: rgb(83, 83, 83);
    margin-bottom: 15px;
}
.profile-modalPassword input{
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: 1.5px solid gray;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.profile-modalPassword p{
    color: red;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.profile-modalButton{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .profile-content{
        width: 600px;
    }
    .profile-infoBasic-content{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .modal-profile{
        width: 450px;
    }
}